*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F3E6CA;

}

.main-container{
    display: flex;
    justify-content: center;
    
}

.img-container{
    width: auto;
    height: 800px;

    display:flex;
    justify-content: center;

    padding: 3rem;

}

.img-container img{
    width: 120px;
    height: 48px;
}

.form-container{
    width: 950px;
    height: 800px;

    padding: 3rem;
    
}

.input-container{
    height: 500px;
}

.textarea {     
    display: block;     
    width: 100%;     
    overflow: hidden;     
    resize: both;

    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    min-height: 40px;  
    max-width: 600px;
    max-height: 670px;   
                              
    color: black;
}

.textarea[contenteditable]:empty::before {    
     content: "Ingrese el texto aqui...";    
     color: black;
     opacity: 30%; 

    }


/* .form-container input{
    
    display: block;

    overflow: hidden;
    resize: both;
 
    border: none;
    background: none;

    width: 577px;
    height:auto;

    font-style: normal;


    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: black;
} */

.decorationP{
    width: 450px;
    display: flex;
    height: auto;

    align-items: center;
    gap: 6px;

    padding-top: 200px;
}

.decorationP img{
    width: 16px;
    height: 16px;
}

.decorationP p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.Button-container{
    display: flex;
    gap: 1rem;
    width: 600px;

}

.Button-container button{
    
    width: 328px;
    height: 67px;

    border-radius: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.btn-encrypted{
    background: #7E2B1A;
    border: none;
    color: white;
}

.btn-desencrypted{
    background: #ebcf81;
    border: 1px solid #000000;
    color: #000000;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    margin: 2rem;

    background: #ebcf81;

    text-align: center;
}

.info-container img{
    width: 250px;
    height: 360px;
    background-color: #ebcf81;
    
}

.text_info {
    background-color: #ebcf81;
}

.info-container h2{
    background-color: #ebcf81;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    color: #343A40;
}

.info-container p{
    background-color: #ebcf81;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #495057;
}

@media screen and (max-width:820px){
    .main-container{
        width: 400px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .form-container {
        padding: 1.5rem;
        padding: 1.5rem;
    }

    .textarea{
        width: 450px;
        max-width: 450px;
        margin: none;
    }
    
    .Button-container button{
        width: 220px;
    }

    .img-container{
        width: 450px;
        height: auto;
        justify-content: flex-start;
    }

    .info-container{
        width: 400px;
        flex-direction: row;
        align-items: flex-start;
        padding: 1rem;
        margin-top: none;
    }

    .info-container img{
        display: none;
    }
}

@media screen and (max-width:415px){

    .Button-container{
        flex-direction: column;
    }

    .Button-container button{
        width: 328px;
    }
}